print_your_name
WAP_sum_of_2_no
avg_of_3no
multi_operator
circumference_of_circle
area_of_circle
surface_of_sphere
volume_of_cone
volume_of_sphere
volume_of_cylinder
greatest_of_2no._using_if_conditional
to_find_number_is_even_or_odd
leap_year_or_not